@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
body { font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial; color-scheme: dark; }

.bg-photo-img {
  background-image: url("/bg/bg.png");
  background-size: cover;
  background-position: 65% center; 
}

.bg-tint {
  background: radial-gradient(1200px 900px at 62% 50%, rgba(19, 19, 19, 0.38), transparent 65%),
              linear-gradient(160deg, rgba(109,40,217,.38), rgba(236,72,153,.38));
  mix-blend-mode: multiply;
}

.grain {
  background-image: url("/grain.svg");
  background-repeat: repeat;
  background-size: 140px 140px;
  mix-blend-mode: screen;
  opacity: .38;                         
  filter: brightness(190%) contrast(220%);
}

.grain-2 {
  background-image: url("/grain.svg");
  background-repeat: repeat;
  background-size: 90px 90px;
  mix-blend-mode: screen;
  opacity: .22;
  filter: brightness(190%) contrast(220%);
}


.vignette {
  background: radial-gradient(ellipse 80% 65% at 50% 50%, transparent 80%, rgba(0,0,0,0.22) 100%);
  backdrop-filter: blur(0px);
  pointer-events: none;
}
